<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ staticBasePath }}main.css">
    <title>Telltail Games</title>
</head>
<body>
    <header class="main-header">
        <div width="41" height="64" class="main-icon">
            <a href="/">
                <img src="{{ staticBasePath }}icon.svg" alt="">
            </a>
        </div>
        <div class="main-headline">
            <a href="/"><span>Telltail</span> Games</a>
        </div>
    </header>
    <main class="general-layout">
        <article class="finder" id="search-form">
            <div class="search-line">
                <input type="text"
                    id="search-line-adventure"
                    class="search-line-adventure"
                    placeholder="Текст запроса">
                </input>
                <button id="search-button"class="search-button">Найти</button>
            </div>
            <div class="search-line">
                <div id="adventure-hashtags" class="adventure-hashtags search"></div>
                <div class="adventure-hashtags-search">
                    <input type="text"
                        id="search-line-hashtag"
                        class="search-line-hashtag"
                        placeholder="Хэштег"
                        autocomplete="off">
                    </input>
                    <div id="hashtag-list" class="hashtag-list"></div>
                </div>
            </div>
        </article>
        <article id="adventures" class="adventures-container">
            {{> adventure}}
        </article>
    </main>
    <script src="{{ staticBasePath }}script.js"></script>
</body>
</html>