@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Gabriela');

a
{
    text-decoration: none;
    color: #000;
}

/* Стили для шапки */

.main-header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    border-bottom: 1px solid #b1aeae;
}

.main-title
{
    display: inline-flex;
}

.main-icon 
{
    height: 64px;
    width: 41px;
    margin: 16px 0 0 0;
}

.main-headline
{
    font-size: 56px;
    margin: 0 30px  0;
}

.main-headline a span
{
    color: #f49cc4;
    font-weight: bold;
}

main
{
    width: 80%;
    margin: auto;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* стили для приключений (главная страница) */

.adventure
{
    display: flex;
    margin-top: 40px;
}

.adventure-picture img
{
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin: 0 50px 0 80px;
}

.adventure-name
{
    font-size: 35px;
    font-family: 'Gabriela', sans-serif;
    margin: 0 0 15px ;
    cursor: pointer;
}

.adventure-text
{
    max-width: 600px;
    font-size: 15px;
}

/* стили для хэштегов приключения */

.adventure-hashtags
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    max-width: 600px;
}

.adventure-hashtag
{
    background-color: #808080;
    opacity: .8;
    padding: 5px;
    margin: 10px 10px;
    border-radius: 5px;
}

.adventure-hashtag:hover
{
    opacity: 1;
}

.adventure-hashtag-text
{
    color: #fff;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}

/* стили для юзеров приключения */

.adventure-users
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    max-width: 600px;
}

.adventure-user
{
    position: relative;
}

.adventure-user-picture
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.adventure-user-count
{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    text-align: right;
}

/* стили для сцен */

.scene-container
{
    display: flex;
    justify-content: center;
    width: 80%;
    margin: 30px auto;

}

.scene-position
{
    position: relative;
}

.scene-picture
{
    width: 950px;
    height: 380px;
}

.scene-text
{
    position: absolute;
    font-family: 'Gabriela', sans-serif;
    max-width: 800px;
    color: #fff;
	background: rgba(0, 0, 0, 0.7);
}

.scene-text.bl
{
    bottom: 0;
    left: 0;
}

.scene-text.br
{
    bottom: 0;
    right: 0;
}

.scene-text.tl
{
    top: 0;
    left: 0;
}

.scene-text.tr
{
    top: 0;
    right: 0;
}

/* стили для действий сцен */

.scene-actions
{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.scene-action
{
    background-color: #474646;
    opacity: .8;
    padding: 10px;
    margin: 0 20px;
}

.scene-action:hover
{
    opacity: 1;
}

.scene-action-text
{
    color: #fff;
    font-size: 30px;
}

/* стили для достижений сцен */

.scene-achievements
{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px 200px 0;
}

.scene-achievement
{
    display: flex;
    margin: 10px 10px;
}

.scene-achievement-picture
{
    border-radius: 100px;
}

.scene-achievement-name
{
    font-size: 25px;
    margin: 30px 10px 0;
}

.scene-achievement-name div
{
    font-size: 30px;
    font-family: 'Gabriela', sans-serif;
    max-width: 200px;
}

/* Строки поиска */

.search-form
{
    margin: auto;
    width: 90%;
}

.search-line
{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.search-line.adventure
{
    padding: 0 0 0 10px;
    margin: 0 20px;
    height: 50px;
    flex: 6;
    font-size: 20px;
    border: 1px solid #d3d3d3;
}

.search-line-hashtag
{
    height: 45px;
    border: 1px solid #d3d3d3;
    padding: 0 0 0 10px;
}

/* хэштеги всплывашка */
.adventure-hashtags-search
{
    position: relative;
}

.hashtag-list
{
    position: absolute;
    width: 190px;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.search-hashtag
{
    height: 35px;
    padding: 0 0 0 5px;
    cursor: pointer;
}

.search-hashtag.selected
{
    background-color: #45b6f8;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
/* хэштеги в поиске */
.close
{
    cursor: pointer;
}

.adventure-hashtags.search
{
    margin: 0 0 0 15px;
    border: none;
}

.adventure-hashtag.search
{
    color: #fff;
    background-color: #3ae;
    padding: 10px;
}

/* Переиспользуемые стили */

.main-text
{
    font-size: 45px;
    margin: 30px 70px 0;
    font-family: 'Gabriela', sans-serif;
}


.link-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #f39ac1;
    color: #fff;
    cursor: pointer;
}

.link-button.grey
{
    background-color: #bbb6b6;
}

.link-button.auth:disabled
{
    cursor: default;
    opacity: .7;
}

.link-button.in-header
{
    margin-right: 15px;
}

.user-menu
{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.user-avatar
{
    border-radius: 100px;
    display: inline-block;
    margin: 0 10px;
}

.username
{
    font-size: 30px;
    font-family: 'Gabriela', sans-serif;
    display: inline-block;
    margin-right: 50px; 
}

.auth-input
{
    height: 30px;
    font-size: 20px;
    width: 320px;
    display: block;
    margin: 10px;
    padding-left: 10px;
}

/*Окно с ошибкой  */
.warning-wrapper
{
    max-width: 400px;
    height: 50px;
    border: 3px solid #ff6ddf;
    padding: 10px;
}

.warning-sign
{
    font-size: 20px;
    color: #ff6ddf;
}